{% load static %}
{% load crispy_forms_tags %}
<!doctype html>
<html leng="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Мечта путешественника</title>
    <link rel="stylesheet" type="text/css" href="{% static 'lk.css' %}">
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body style="font-family:'Tangerine', verdana;">
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Мечта путешественника</a>
                <div></div>
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="#"></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'account' %}">Личный кабинет</a>
                        </li>
                    </ul>
                    <a class="navbar-text" href="{% url 'logout' %}">
                        Выйти
                    </a>
                </div>
            </div>
        </nav>
    </header>
    <main>
        {% if error != '' %}
            <div class="alert alert-dismissible alert-danger">
                <strong>{{ error }}</strong>
                {{ form.non_form_errors }}
            </div>
        {% endif %}
        <div class="container col-md-10" style="margin: 25px 20px;">
          <a class="btn btn-outline-dark mb-2 btn-sm" href="{% url 'workers/worker_list' %}">Назад</a>
          <a class="btn btn-outline-dark mb-2 btn-sm" href="{% url 'account' %}">Главное меню</a>
        </div>
        <h2 style="margin: 20px 0;">Создание предварительного соглашения</h2>
        <div class="container col-md-8">
            <form method="POST">
                {% csrf_token %}
                <label for="number" class="form-label">Номер</label>
                <input type="text" placeholder="Номер соглашения" name="agreement_number" id="number" required class="mb-3 form-control"><br>
                <label for="date" class="form-label">Дата</label>
                <input type="date" placeholder="Дата заключения соглашения" name="date_agreement" id="date" required class="mb-3 form-control"><br>
                <h4>Даты поездки</h4><br>
                <label for="start" class="form-label">Дата начала</label>
                <input type="date" name="date_start" id="start" required class="mb-3 form-control"><br>
                <label for="end" class="form-label">Дата окончания</label>
                <input type="date" name="date_end" id="end" required class="mb-3 form-control"><br>
                <label for="organization" class="form-label">Организация</label>
                <select class="form-select mb-3" id="organization" name="organization">
                    {% for organization in organizations %}
                        <option value="{{organization.organization_id}}">
                            {{ organization.organization_name }}
                        </option>
                    {% endfor %}
                </select>
                <label for="client" class="form-label">Клиент</label>
                <select class="form-select mb-3" id="client" name="client">
                    {% for client in clients %}
                        <option value="{{client.client_id}}">
                            {{ client.client_name }}
                        </option>
                    {% endfor %}
                </select>
                <label for="agent" class="form-label">Агент</label>
                <select class="form-select mb-3" id="agent" name="agent">
                    <option value="NULL" > Нет агента
                    </option>
                    {% for agent in agents %}
                        <option value="{{agent.agent_id}}" >
                            {{ agent.agent_fio }}
                        </option>
                    {% endfor %}
                </select>
                <label for="numbers_tourist" class="form-label">Количество участников поездки</label>
                <input type="number" name="numbers_tourist" id="numbers_tourist" required class="mb-3 form-control"><br>

                {% comment %} <label for="country" class="form-label">Страна посещения</label> {% endcomment %}
                <select class="form-select mb-3" name="country" id="country">
                    {% for country in countries %}
                        <option value="{{country.country_id}}">
                            {{ country.country_name }}
                        </option>
                    {% endfor %}
                </select>
                <select class="form-select mb-3" name="city" id="city">
                </select>
                {% comment %} <div id="o">
                    <input type="text" required class="mb-3 form-control"><br>
                </div> {% endcomment %}
                {% comment %} <table class="table table-success">
                    <thead>
                        <tr>
                        <th scope="col">№</th>
                        <th scope="col">Название</th>
                        </tr>
                    </thead>
                        {% for city in cities %}
                            <tbody>
                                <tr>
                                    {% if city.country_id == 1 %}
                                    <td>{{city.city_id}}</td>
                                    <td><input type="checkbox" id="city" name="city">
                                    <label for="city">{{city.city_name}}</label></td>
                                    {% endif %}
                                </tr>
                            </tbody>
                        {% endfor %}
                    </table> {% endcomment %}
                <button type="submit" class="btn btn-success">Сохранить</button>
            </form>
        </div>
    </main>
    <script type="text/javascript">
        var cities = {
            1: ["Берлин", "Баден-Баден", "Дрезден"],
            2: ["Милан", "Флоренция", "Рим"],
            3: ["Мадрид", "Малага", "Валенсия"],
            4: ["Любляна"],
            5: ["Любляна"],
            6: ["Свети Влас"]
          };
          var country = document.getElementById("country");
          var city = document.querySelector("#city");
          window.onload = selectCountry;
          country.onchange = selectCountry;
          function selectCountry(ev){
            city.innerHTML = "";
            var c = this.value || 1, o;
            for(let i = 0; i < cities[c].length; i++){
              o = new Option(cities[c][i],i,false,false);
              city.add(o);
            };
            document.getElementById("o").innerHTML = d;
          }
    </script>
    <footer></footer>
</body>
</html>


